body {
    background-image: url('src/imagenes/fondoMosaico.jpg');
    background-size: cover; /* Esto ajustará la imagen para que cubra todo el cuerpo */
    background-position: center; /* Esto centrará la imagen en el cuerpo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor {
    margin-top: 20px;
    padding: 20px 30px 30px 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 12%;
    background-color: rgba(196, 185, 185, 0.313);
}

.texto{
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.botones {
    width: auto;
    max-width: 600px; /* Define el ancho máximo del recuadro */
    margin: 0 auto; /* Centra el recuadro en la pantalla */
    display: flex;
    flex-direction: column; /* Cambia la dirección del flexbox a columnas */
    justify-content: space-around;
}

.botonesInferiores {
    width: auto;
    max-width: 600px; /* Define el ancho máximo del recuadro */
    margin: 0 auto; /* Centra el recuadro en la pantalla */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boton {
    width: auto;
    min-width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

.boton:hover {
    background-color: #ccc;
    color: #000;
}