.contenedorG {
    margin-top: 20px;
    padding: 20px 30px 30px 20px;
    /* border: 2px solid red; */
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 12px;
    background-color: rgba(196, 185, 185, 0.313);
  }

  .botones {
    width: auto;
    max-width: 600px; /* Define el ancho máximo del recuadro */
    margin: 0 auto; /* Centra el recuadro en la pantalla */
    display: flex;
    flex-direction: column; /* Cambia la dirección del flexbox a columnas */
    justify-content: space-around;
  }
  

  .botonesInferiores {
    width: auto;
    max-width: 600px; /* Define el ancho máximo del recuadro */
    margin: 0 auto; /* Centra el recuadro en la pantalla */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
    
  .boton {
    width: auto;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .boton:hover {
    background-color: #ccc;
    color: #000;
  }
  
  .botonSalir {
    width: 100px;
    height: 27px;
    margin: 10px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .botonSalir:hover {
    background-color: #ccc;
    color: #000;
  }
  

  @media only screen and (max-width: 600px) {
    }
